<div class="topbar">
  <h1 class="topbar-title">Users</h1>
</div>

<div class="dash-table-wrapper">
  <table class="dash-table">
    <thead>
      <tr>
        <th>Image</th>
        <th>Name</th>
        <th>Email</th>
        <th>Phone</th>
        <th>Gender</th>
        <th>Role</th>
        <th>Joined</th>
        <th>Action</th>
        
      </tr>
    </thead>
    <tbody>
        @if (users.length === 0) {
        <tr>
          <td colspan="6" class="td-empty">No users found.</td>
        </tr>
             }
   @for (user of users; track user) {
      <tr>
        @if (!user.image) {
        <td>
          <div class="table-img">
          <img [src]="staticURL + '/uploads/avtar2.jpg'" [alt]="user.name">
        </div>
      </td>
      }
      @else {
         <td>
          <div class="table-img">
          <img [src]="staticURL + user.image " [alt]="user.name">
        </div>
      </td>
      }
        <td class="td-name">{{user.name}} </td>
        <td>{{user.email}} </td>
        <td>{{user.phone}} </td>
        <td>{{user.gender}} </td>
        <td>
          <span class="status-badge" >
           {{ user.role }}
          </span>
        </td>
        <td class="td-date"> {{user.createdAt | date:'MMM d, yyyy' }}</td>
        <td>
          <div class="table-actions">
            <button class="action-btn delete" (click)="delete(user._id)">Delete</button>
          </div>
        </td>
      </tr>
      }
    </tbody>
  </table>
</div>